.logo{
    font-family: $--logo-font;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo__text{
    &--blue{
        color: $--accent-cl;
    }

    &--black{
        color: $--accent-dark;
    }

    &--white{
        color: $--white-bg;
    }
}